canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    font-family: Helvetica, Calibri, Tohoma, Arial, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

#content {
    float: right;
    width: 60%;
}

.box {
    background: #325ea8;
    border-radius: 3px;
}

h1 {
    color: #325ea8;
}

@media screen and (max-width: 600px) {
    #content {
        float: none;
        width: 100%;
    }
}